In [2]:
import re
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt
import os
import cv2
import glob
from tqdm import tqdm
from sklearn.preprocessing import MinMaxScaler
import shutil
from decimal import Decimal, getcontext

from tensorflow.keras.layers import Input, Dense, Flatten, BatchNormalization
from tensorflow.keras.applications.resnet_v2 import ResNet50V2
# from tensorflow.keras.models import Model
from tensorflow.keras.optimizers import SGD, Adam
# from tensorflow.keras.preprocessing import image
from tensorflow.keras.preprocessing.image import ImageDataGenerator
import tensorflow as tf

In [10]:
data = pd.read_csv('TRY_final.txt', sep=',', encoding='latin-1')
data.head()

,AccSpeciesName,mean_14,mean_3117,mean_3106,mean_4,mean_3110,mean_26,stddev_14,stddev_3117,stddev_3106,stddev_4,stddev_3110,stddev_26,PlantGrowthForm
0,Aa,26.400000,9.433962,NaN,NaN,NaN,NaN,0.000000,2.832447e-11,NaN,NaN,NaN,NaN,NaN
1,Aaronsohnia pubescens,NaN,NaN,0.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ABACABA (PALM),NaN,NaN,15.0,NaN,NaN,NaN,NaN,NaN,8.485281,NaN,NaN,NaN,NaN
3,Abarema adenophora,24.422045,11.820481,NaN,0.663459,56861.99,NaN,1.593152,1.030987e+00,NaN,0.132959,NaN,NaN,tree
4,Abarema adenophorum,NaN,NaN,NaN,0.360000,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN

In [16]:
links = pd.read_csv('species_links.txt', sep=',', encoding='latin-1')
links.head()

,gbifID,identifier,species,decimalLatitude,decimalLongitude,coordinateUncertaintyInMeters,bio1,bio2,bio3,bio4,...,bio10,bio11,bio12,bio13,bio14,bio15,bio16,bio17,bio18,bio19
0,891019180,https://static.inaturalist.org/photos/73239/or...,Polypodium virginianum,41.310674,-72.513289,NaN,103.0,102.0,29.0,8513.0,...,211.0,-8.0,1182.0,113.0,89.0,8.0,316.0,278.0,278.0,291.0
1,891019180,https://static.inaturalist.org/photos/73240/or...,Polypodium virginianum,41.310674,-72.513289,NaN,103.0,102.0,29.0,8513.0,...,211.0,-8.0,1182.0,113.0,89.0,8.0,316.0,278.0,278.0,291.0
2,891019290,https://static.inaturalist.org/photos/80340/or...,Pastinaca sativa,44.002331,-73.169975,5.0,72.0,120.0,29.0,10014.0,...,196.0,-64.0,891.0,103.0,49.0,20.0,273.0,159.0,273.0,166.0
3,891019325,https://static.inaturalist.org/photos/82422/or...,Datura metel,16.023604,-16.489864,NaN,251.0,111.0,62.0,2229.0,...,280.0,226.0,269.0,101.0,0.0,153.0,234.0,0.0,217.0,3.0
4,891019575,https://static.inaturalist.org/photos/97085/or...,Polypodium virginianum,44.032032,-73.085672,5.0,61.0,117.0,28.0,9885.0,...,184.0,-72.0,1012.0,114.0,56.0,19.0,306.0,183.0,306.0,193.0

In [8]:
species = pd.read_excel('MSAI_100species.xlsx')
species.head()

        Scientific name         Common name  taxon_id
0     Asclepias syriaca     common milkweed     47911
1  Phytolacca americana   American pokeweed     48599
2  Podophyllum peltatum            mayapple     49288
3     Monarda fistulosa       wild bergamot     85320
4   Mertensia virginica  Virginia bluebells     59771

In [ ]:
#Scientific name, AccSpeciesName, species